<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

        <title>Facelet Title</title> 
    </h:head> 
    <h:body> 
        <div class="container"> 
            <f:view> 
                <h:form enctype="multipart/form-data"> 
                    <h:inputFile value="#{obj.file}"/> <br/>  
                    <h:commandButton class="btn btn-primary" value="Upload" action="#{obj.print()}"/>  
                </h:form> 
            </f:view> 

        </div> 
        
    </h:body> 
</html> 



